.menu
  position: fixed
  width: 100%
  height: calc( 100% - 69px )
  top: 0
  left: 0
  background: #EBEBFF
  transition: all .3s
  pointer-events: none
  opacity: 0

  .block-wrap
    margin-bottom: 16px
    h3
      font-size: 16px
      font-weight: 700
      margin-bottom: 8px

  &__item
    display: flex
    align-items: center
    justify-content: space-between
    text-decoration: none
    border-bottom: 1px solid #D9D9D9
    padding:  8px 0
    font-weight: 500
    color: var(--primary)

    &:first-child
      padding-top: 0

    &:last-child
      border: none
      padding-bottom: 0

  &__item-left,
  &__item-right  
    @include dif-xy-center

    .icon
      fill: #888888

  &__item-selected
    margin-right: 8px    

  &__item-img 
    width: 32px
    height: 32px
    border-radius: 50%
    overflow: hidden
    @include dif-xy-center
    margin-right: 16px

    img
      width: 100%

  &.active    
    opacity: 1
    pointer-events: inherit
    z-index: 1
