.team
  &__kind 
    display: flex
    flex-wrap: wrap
    box-sizing: border-box
    margin-left: -5px
    margin-right: -5px
    margin-top: 10px

  &__col  
    width: 50%
    padding: 5px
    box-sizing: border-box
  
  &__kind-wrap
    border-radius: 20px
    background: white
    padding: 8px
    text-align: center
    box-sizing: border-box
    h2
      font-size: 18px
      margin-bottom: 4px
      
    p
      font-size: 18px
      font-weight: 700
      color: var(--success)
    

    

    
    