// Переменные темы
:root
  --bg-color: #EBEBFF
  --text-color: var(--primary)
  --title-border-color: var(--primary)

body.dark-theme
  --bg-color: #050505
  --text-color: #eee
  --title-border-color: #fff

  .profile__avatar .edit
    background: #fff
    border: rem(1) solid var(--primary)

    .icon
      fill: var(--primary)

  .profile__add-info-item .edit .icon,
  .icon
    fill: #fff
  .menu 
    background: var(--bg-color)
    
  .mobile-nav
    background: #050505
    border-color: #1C1C1E
    li

      &.active
        a
          color: var(--success)
        .icon
          fill: var(--success)

  .icon--sun,
  .icon--moon
    fill: #fff!important

  .social__item
    color: #fff

  .menu__bar,
  .team__kind-wrap,
  .social__item,
  .video__access,
  .video__prewiev,
  .links__item,
  .notification-list__item-bottom
    background: #1C1C1E

    .links__item-info
      p
        color: #fff

    .links__item-flex-wrap--addition-info    
      .links__item-info
        p
          color: #7800FF

  .swiper-pagination-bullet
    background: #e3baba

    &.swiper-pagination-bullet-active
      background: #fff!important
  
  .links__item-time,
  .menu ul li a,
  .profile__info,
  .header__user-id,
  .links__item-kind,
  .header__user-name,
  .menu__item
    color: #fff

  .profile__avatar,
  .profile__avatar-img,
  .menu__profile-socials,
  .menu__profile-controls,
  .profile__add-info,
  .profile__avatar-img
    border-color: #fff

  .video__access
    p
      color: #fff

  .table
    table
      tr
        td
          &:first-child
            color: #fff!important    

    &__id
      .icon
        fill: var(--success)         
  
  .profile__add-info-item
    input
      color: #fff      

body
  background-color: var(--bg-color)
  color: var(--text-color)
  transition: background 0.3s ease, color 0.3s ease

// Стили кнопки переключателя (дополнительно)
.theme-toggle
  background: none
  color: inherit
  cursor: pointer
  font-size: 22px
  background: none
  outline: none
  border: none
  padding: 0
  margin-right: 16px
