.container
  .swiper.slider
    .swiper-wrapper
      .swiper-slide
        .slide-item 
      .swiper-slide 
        .slide-item 
      .swiper-slide 
        .slide-item 
      .swiper-slide 
        .slide-item 
      .swiper-slide 
        .slide-item 
      .swiper-slide 
        .slide-item 

    .swiper-pagination