.container
  .swiper.slider
    .swiper-wrapper
      .swiper-slide
        .slide-item 
          img(src="images/dist/slider.jpg", alt="")
      .swiper-slide 
        .slide-item 
          img(src="images/dist/slider.jpg", alt="")
      .swiper-slide 
        .slide-item 
          img(src="images/dist/slider.jpg", alt="")
      .swiper-slide 
        .slide-item 
          img(src="images/dist/slider.jpg", alt="")
     

    .swiper-pagination