.mobile-nav
  .container
    ul 
      mixin mobileNav(title, icon, active, menujs)
        li(class=active)
          a(href="#" class=menujs)
            .icon
              svg
                use(xlink:href='sprite.svg#'+icon)
            span=title
      +mobileNav('Главная', 'home', 'active')      
      +mobileNav('Курсы', 'videoless')      
      +mobileNav('Команда', 'team')      
      +mobileNav('Бонусы', 'wallet')      
      +mobileNav('Меню', 'menu', '', 'menu-js')      
