extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | main
block main
  .container
    form(action="#")
      .input 
        .input__label
          label(for="login") Логин (обязательно) 
        .input__field
          input(type="text" name="login" placeholder="login")#login  

      .select.select-js 
        .select__label Тип оплаты 
        .select__input 
          input(type="hidden" value="")
        
        .select__selected-wrap
          .select__selected Выберите тип оплаты
          .icon
            svg
              use(xlink:href='sprite.svg#angle-down')


        .select__dropdown 
          ul 
            li.select__item(data-value="Наличные") Наличные
            li.select__item(data-value="Перевод") Перевод
            
      .input__file 
        .input__label
          label(for="") Прикрепите чек для оплаты
        
        .input__field
          input(type="file") 

      button.button(type="submit") Купить обучение    

    br
    button.button.popup-js(data-popup="name-of-popup") popup trigger

    .popup(data-popup="name-of-popup")
      .block-wrap.popup__window 
        .popup__window-top 
          h4 Язык
          .icon.popup-close-js
            svg
              use(xlink:href='sprite.svg#close')

        form(action="#")
          .input 
            .input__label
              label(for="login") Логин (обязательно) 
            .input__field
              input(type="text" name="login" placeholder="login")#login
          .input 
            .input__label
              label(for="login") Пароль
            .input__field
              input(type="password" name="password" placeholder="password")#password
              span.toggle-password(data-target="#password")
                .icon
                  svg
                    use(xlink:href='sprite.svg#eye')

          .popup__agree-forget
            div
              input(type="checkbox" name="agree")#agree    
              label(for="agree") Согласие

            div
              a(href="#") Забыли пароль?        

          button.button submit    




  include includes/scripts 