extends layouts/main

block vars
  - var description = 'История';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | История 
block main
  .wrapper
    .content
        include includes/come-back

        .history 
          .container 
            .block-wrap
              
              .title-icon
                .icon
                  svg
                    use(xlink:href='sprite.svg#history')
                p История операций

              .table.table--history  
                table
                  thead 
                    th №
                    th ID <br> Login
                    th Статус
                    th Дата <br> Время
                    th Сумма <br> USDT
                  tr.status-red
                    td 
                      span 152
                    td
                      .table__id.copy-js
                        span 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                        .id-tooltip Скопировано!
                      p Улан

                    td 
                      p Новый подписчик

                    td
                      p 08.06.2025 / 12:30:34 
                  
                    td 
                      span 6
            
                  tr
                    td 
                      span 152
                    td
                      .table__id.copy-js
                        span 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                        .id-tooltip Скопировано!
                      p Улан

                    td 
                      p Новый подписчик

                    td
                      p 08.06.2025 / 12:30:34 
                  
                    td 
                      span 6
            
            
              
                   
                          
                    

        



    include includes/mobile-nav


  include includes/scripts 