extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | main
block main
  .wrapper
    .content
        include includes/header

        include includes/main-slider
        .container
          .links
            .links__col
              a(href="#").links__item
                .links__item-flex-wrap
                  .links__item-left
                    .links__item-img-wrap
                      .links__item-img
                        img(src="images/dist/link1.png", alt="")

                      .links__item-img-mini 
                        img(src="images/dist/link-min.png", alt="")

                    .links__item-info 
                      p Начисление бонусов 
                      span 0,00 USDT

                  
            .links__col
              a(href="#").links__item
                .links__item-flex-wrap
                  .links__item-left
                    .links__item-img-wrap
                      .links__item-img
                        img(src="images/dist/link2.png", alt="")
                    .links__item-info 
                      p Начисление бонусов 
                      span 2 usdt
                  .links__item-right
                    .links__item-time
                      .icon
                        svg
                          use(xlink:href='sprite.svg#clock') 
                      span 23:30

                .links__item-flex-wrap.links__item-flex-wrap--addition-info
                  .links__item-left
                    .links__item-img-wrap
                      .links__item-img
                        .icon
                          svg
                            use(xlink:href='sprite.svg#info')
                    .links__item-info 
                      p Условие: <br> 1 личник в текущем месяце
                  .links__item-right
                    .links__item-status.links__item-status--error Не выполнено

                  

                  


            .links__col
              a(href="#").links__item
                .links__item-flex-wrap
                  .links__item-left
                    .links__item-img-wrap
                      .links__item-img
                        img(src="images/dist/link3.png", alt="")
                    .links__item-info 
                      p Общая сумма полученных бонусов 
                      span 25 USDT

                  




    include includes/mobile-nav


  include includes/scripts 