extends layouts/main

block vars
  - var description = 'Профиль';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | profile
block main
  .wrapper
    .content
        include includes/come-back

        .profile
          .container
            
            .profile__top
              .profile__avatar
                .profile__avatar-img
                  img(src="images/dist/Avatar.png" alt="avatar").profile__avatar-img-default
                  img(src="images/dist/Avatar.png" alt="avatar")
                label.edit(for="avatar-upload")
                  .icon
                    svg
                      use(xlink:href='sprite.svg#edit')
                input#avatar-upload(type="file", accept="image/*")

              .profile__info 
                p ID: 123456789

            
            .block-wrap.profile__add-info
              ul 
                li.profile__add-info-item 
                  div
                    .profile__add-info-label Login
                    input(type="text" value="Dzhumalanbek" name="") 

                li.profile__add-info-item 
                  div
                    .profile__add-info-label Leader
                    input(type="text" value="Sagunbek" name="") 

                li.profile__add-info-item 

                  div
                    .profile__add-info-label Номер телефона
                    input(type="text" value="+996 555 20 80 90" name="") 

                li.profile__add-info-item 

                  div
                    .profile__add-info-label Кошелек
                  
                    input(type="text" value="rF469av1wxfAtPH5D" name="") 

                  img(src="images/dist/link3.png", alt="")   

                  
                
                


                



        



    include includes/mobile-nav


  include includes/scripts 