extends layouts/main

block vars
  - var description = 'Команда';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Команда
block main
  .wrapper
    .content
        include includes/page-title

        .team 
          .container 
            .block-wrap
              .title-icon
                .icon
                  svg
                    use(xlink:href='sprite.svg#team')
                p Список личников   

              .table.table--team  
                table
                  tr.status-red
                    td 
                      span 152
                    td
                      .table__id.copy-js
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 

                        .id-tooltip Скопировано!

                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
              
                  tr
                    td 
                      span 152
                    td
                      .table__id.copy-js
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 

                        .id-tooltip Скопировано!

                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
              

            .team__kind 
              .team__col
                .team__kind-wrap 
                  h2 Левая команда
                  p 1 234 543
              .team__col
                .team__kind-wrap 
                  h2 Правая команда
                  p 1 234 543

            .referral-link
              button.button РЕФЕРАЛЬНАЯ ССЫЛКА
              
              .referral-link__icon 
                .icon
                  svg
                    use(xlink:href='sprite.svg#copy')

            form(action="#")
              .input          
                .input__field
                  input(type="text" name="search" placeholder="поиск")          

                    
                



        



    include includes/mobile-nav


  include includes/scripts 