extends layouts/main

block vars
  - var description = 'Моя команда';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Моя команда
block main
  .wrapper
    .content
        include includes/page-title

        .team 
          .container 
            .block-wrap
              .title-icon
                .icon
                  svg
                    use(xlink:href='sprite.svg#team')
                p Список личников   

              .team-table 
                table 
                  tr
                    td 
                      span 152
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 151
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 150
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 149
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 148
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 147
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 147
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 146
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 145
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 144
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 143
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 142
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 141
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 
                  tr
                    td 
                      span 140
                    td
                      .team-table__id
                        span ID: 123456789
                        .icon
                          svg
                            use(xlink:href='sprite.svg#copy') 
                      p Улан Джумагулов Уланович
                    td
                      span Дата / время:
                      p 08.06.2025 / 12:30:34 

            .team__kind 
              .team__col
                .team__kind-wrap 
                  h2 Левая команда
                  p 1 234 543
              .team__col
                .team__kind-wrap 
                  h2 Правая команда
                  p 1 234 543
                



        



    include includes/mobile-nav


  include includes/scripts 