extends layouts/main

block vars
  - var description = 'Видеокурсы';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Видеокурсы
block main
  .wrapper
    .content
        include includes/page-title

        .video
          .container 
            .video__item 
              .video__prewiev 
                img(src="images/dist/video1.webp", alt="")
              .video__access
                svg(width="40", height="40", viewBox="0 0 40 40", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M19.9336 39.8672C30.9426 39.8672 39.8672 30.9426 39.8672 19.9336C39.8672 8.92458 30.9426 0 19.9336 0C8.92458 0 0 8.92458 0 19.9336C0 30.9426 8.92458 39.8672 19.9336 39.8672Z", fill="#28A7E8")
                  path(fill-rule="evenodd", clip-rule="evenodd", d="M9.01245 19.7178C14.8216 17.195 18.6888 15.5187 20.6307 14.7054C26.1577 12.3983 27.3195 12 28.0664 11.9834C28.2324 11.9834 28.5975 12.0166 28.8465 12.2158C29.0456 12.3817 29.0954 12.5975 29.1286 12.7635C29.1618 12.9295 29.195 13.278 29.1618 13.5436C28.8631 16.6971 27.5685 24.3485 26.9046 27.8672C26.6224 29.361 26.0747 29.8589 25.5436 29.9087C24.3817 30.0083 23.5021 29.1452 22.39 28.4149C20.6307 27.2697 19.6515 26.556 17.9419 25.4274C15.9668 24.1328 17.2448 23.4191 18.3734 22.2573C18.6722 21.9585 23.7676 17.3112 23.8672 16.8963C23.8838 16.8465 23.8838 16.6473 23.7676 16.5477C23.6515 16.4481 23.4855 16.4813 23.3527 16.5145C23.1701 16.5477 20.3817 18.4066 14.9544 22.0747C14.1577 22.6224 13.444 22.888 12.7967 22.8714C12.083 22.8548 10.722 22.473 9.69295 22.1411C8.44813 21.7427 7.45228 21.527 7.53527 20.8299C7.58506 20.4647 8.08299 20.0996 9.01245 19.7178Z", fill="white")

                .video__category
                  p Получить доступ к видеокурсу    
                  .video__category-icon
                    img(src="images/dist/youtube.png", alt="")

                .arror-rigth 
                  img(src="images/dist/arrow-right3.png", alt="")
                  
            .video__item 
              .video__prewiev 
                img(src="images/dist/video2.png", alt="")
              .video__access
                svg(width="40", height="40", viewBox="0 0 40 40", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M19.9336 39.8672C30.9426 39.8672 39.8672 30.9426 39.8672 19.9336C39.8672 8.92458 30.9426 0 19.9336 0C8.92458 0 0 8.92458 0 19.9336C0 30.9426 8.92458 39.8672 19.9336 39.8672Z", fill="#28A7E8")
                  path(fill-rule="evenodd", clip-rule="evenodd", d="M9.01245 19.7178C14.8216 17.195 18.6888 15.5187 20.6307 14.7054C26.1577 12.3983 27.3195 12 28.0664 11.9834C28.2324 11.9834 28.5975 12.0166 28.8465 12.2158C29.0456 12.3817 29.0954 12.5975 29.1286 12.7635C29.1618 12.9295 29.195 13.278 29.1618 13.5436C28.8631 16.6971 27.5685 24.3485 26.9046 27.8672C26.6224 29.361 26.0747 29.8589 25.5436 29.9087C24.3817 30.0083 23.5021 29.1452 22.39 28.4149C20.6307 27.2697 19.6515 26.556 17.9419 25.4274C15.9668 24.1328 17.2448 23.4191 18.3734 22.2573C18.6722 21.9585 23.7676 17.3112 23.8672 16.8963C23.8838 16.8465 23.8838 16.6473 23.7676 16.5477C23.6515 16.4481 23.4855 16.4813 23.3527 16.5145C23.1701 16.5477 20.3817 18.4066 14.9544 22.0747C14.1577 22.6224 13.444 22.888 12.7967 22.8714C12.083 22.8548 10.722 22.473 9.69295 22.1411C8.44813 21.7427 7.45228 21.527 7.53527 20.8299C7.58506 20.4647 8.08299 20.0996 9.01245 19.7178Z", fill="white")

                .video__category
                  p Получить доступ к видеокурсу    
                  .video__category-icon
                    img(src="images/dist/crypto.png", alt="")

                .arror-rigth 
                  img(src="images/dist/arrow-right3.png", alt="")
                  
            
                    
            


        



    include includes/mobile-nav


  include includes/scripts 